absl-py==2.1.0
aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
async-timeout==4.0.3
attrdict==2.0.1
attrs==23.2.0
-e git+https://github.com/bdd100k/bdd100k.git@d75ed3c4263b81d766e58eb470eaff9429e58e1d#egg=bdd100k
biopython==1.83
boto3==1.33.11
botocore==1.33.11
cachetools==5.3.2
certifi==2022.12.7
charset-normalizer==2.1.1
contourpy==1.1.1
cycler==0.12.1
filelock==3.9.0
fonttools==4.47.2
frozenlist==1.4.1
fsspec==2023.12.2
future==0.18.3
google-auth==2.26.2
google-auth-oauthlib==1.0.0
grpcio==1.60.0
huggingface-hub==0.20.2
idna==3.4
imageio==2.33.0
importlib-metadata==7.0.1
importlib-resources==6.1.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
lightning-utilities==0.10.1
llvmlite==0.41.1
lmdb==1.4.1
Markdown==3.5.2
MarkupSafe==2.1.3
matplotlib==3.7.4
mpmath==1.3.0
multidict==6.0.4
nanoid==2.0.0
networkx==3.0
numba==0.58.1
numpy==1.24.1
oauthlib==3.2.2
packaging==23.2
pandas==2.0.3
Pillow==9.3.0
plyfile==1.0.2
protobuf==4.25.2
psutil==5.9.6
ptflops==0.6.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyDeprecate==0.3.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytorch-lightning==1.5.10
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.8.2
safetensors==0.4.1
scalabel @ git+https://github.com/scalabel/scalabel.git@071d073598e7c988134dc70a5c0c52761226bf42
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
six==1.16.0
sympy==1.12
tape-proteins==0.5
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl==3.2.0
tifffile==2023.7.10
tokenizers==0.15.0
toml==0.10.2
torch==2.1.2+cu118
torchaudio==2.1.2+cu118
torchmetrics==1.3.0.post0
torchvision==0.16.2+cu118
tqdm==4.66.1
transformers==4.36.2
triton==2.1.0
typing_extensions==4.4.0
tzdata==2023.4
urllib3==1.26.13
Werkzeug==3.0.1
yarl==1.9.4
zipp==3.17.0
